@model List<Faq>

@{
    ViewData["Title"] = "FAQs";
}

<h2>Danh sách câu hỏi</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>Câu hỏi</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var faq in Model)
        {
            <tr>
                <td>@faq.Question</td>
                <td>
                    <a href="@Url.Action("GetQuestionById", "FAQs", new { id = faq.Id })" class="btn btn-info">Xem chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<hr>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
<h3>Thêm câu hỏi mới</h3>
<form method="post" action="@Url.Action("AddQuestion", "FAQs")">
    <div class="form-group">
        <input type="text" name="question" class="form-control" placeholder="Nhập câu hỏi của bạn" required />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
